# note that this is the example of hub on a different port set than the original
# consider ports 61613 for STOMP and 8100 for BLOB - these are the parameters set in orbited and morbid configs

TMP_DB = "/tmp/blob_tmp_db_svoyaset.sqlite"
REG_DB_CREDENTIALS = "dbname=svoyaset_reg user=jeneric_data"

# don't forget to init the database! see storage.py
DATA_DB_CREDENTIALS = "dbname=svoyaset_data user=jeneric_data"

# don't forget to register these - see storage.py
ADMIN_TERMINALS = ["test", "grandrew", "admin"] # hard-coded admin terminals


STOMP_PORT = 61614
HUB_PRIVATE_KEY = "mypassowrd" # CHANGE IT!! <-> STOMP -->> orbited

BLOB_PORT = 8101

LOCAL_HC_KEY = "fkgjnrfkgekgvekvwe" # place something random here

LOCAL = {
  "terminal_id": "jeneric.net", 
  "terminal_key": LOCAL_HC_KEY, 
  "host":"localhost", # change this if differs. Note that haproxy uses address to determine destination blob port
  "port": 61614, # as STOMP_PORT!
  "blob_port": BLOB_PORT
}

REMOTE = {
  "terminal_id": "svoyaset_ru", # CHANGE this to your registered terminal link - go register at go.jeneric.net
  "terminal_key": "mypassword", # CHANGE this to YOUR key
  "host":"go.jeneric.net",
  "port": 61613
  # default blob port - not set
}


